.chat__message-list__message{data: {message: {id: message.id}}}
  .chat__message-list__message__inline
    .chat__message-list__message__inline__upper
      .chat__message-list__message__inline__upper__user-name
        = message.user.name
      .chat__message-list__message__inline__upper__date
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .chat__message-list__message__inline__lower
      - if message.content.present?
        %p.chat__message-list__message__inline__lower__content
          = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?